* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
	color: #152A7F;
	font-family: "pt sans", sans-serif;
}

h1{
	font-family: 'Cinzel', serif;
	letter-spacing: 1.5px;
}

h2{
	font-family: 'Cinzel', serif;
	letter-spacing: 1.5px;
}

a {
	text-decoration: none;
	color: #07401A;
}
p {
	font-size: 16px;
}
img {
	display: block;
	width: 100%;
}
.navlink{
	padding: 30px;
}
#hero {
	position: relative;
}
#register {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: white;
	font-weight: 600;

}
.learnmore {
	transform: translate(-50%,-50%);
	text-color: #07401A;
	font-weight: 600;
}