* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: #152A7F;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.text_center {
	text-align: center;
}
nav a {
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	padding: 30px;
	font-size: 1em;
}
nav a:hover {
	background-color: rgba(211, 211, 211, .2);
	height: 1.3em;
}
a {
	color: green;
	font-weight: 700;
}
a:hover {
	background-color: rgba(211, 211, 211, .6);
}
h1 {
	font-family: 'Pacifico', cursive;
	letter-spacing: .1em;
}
h2 {
	font-family: 'Pacifico', cursive;
	letter-spacing: .1em;
	padding-left: 30px;
}
h3 {
	letter-spacing: .1em;
	margin: 1em 0;
}
button {
	background-color: transparent;
	border-radius: none;
	border: none;
	outline: 0;
}
a {
	text-decoration: none;
	color: #07401A;
}
p {
	font-size: 1em;
}
img {
	display: block;
	width: 100%;
}
form {
	display: inline-block;
	padding: 1em;
}
footer {
	padding: 1em 0;
}
#title {
	padding-top: 1.3em;
	padding-bottom: 1.3em;
	font-weight: 400;
}
#hero {
	margin-top: 1.3em;
	position: relative;
}
#hero:after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 1;
}
#herotext {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*	background-color: white;
*/
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
	font-size: 1em;
	z-index: 2;
	line-height: 1.3;
}
.info_block {
	width: 100%;
	margin: 0 auto;
	padding-top: 1.3em;
	padding-bottom: 1.3em;
	max-width: 1200px;
}
.infoblockleft {
	width: 50%;
	float: left;
	padding: 30px;
}
.infoblockright {
	width: 50%;
	float: left;
	padding: 30px;
}
#register {
	background-color: teal;
}
.register_button {
	border: .1em solid green;
}
#register_team {
	display: none;
	border: left;
}
#our_research {
	background-color: #10BF53;
}
#our_research .infoblockleft {
	width: 70%;
}
#our_research .infoblockright{
	width: 30%;
}
#about {
	background-color: #8EDEE5;
}
#dad {
	background-color: #68BF5C;
	border: .1em blue solid;
	padding: .8em;
	float: left;
	width: 62%;
	height: 0;
	padding-bottom: 62%;
	background-image: url(../images/dad_about.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	overflow: hidden;
}
#info {
	background-color: #1FE5B0;
}
#contact {
	background-color: #8EDEE5;
}
@media only screen and (max-width: 920px){
	nav a{
		display: block;
		text-align: center;
		padding: .2em;
		font-size: 1em;
		font-weight: 700;
	}
}
@media only screen and (max-width: 750px){
	.infoblockright {
		width: 100%;
		float: none;
		padding: 20px;
	}

	.infoblockleft {
		width: 100%;
		float: none;
		padding: 20px;
	}
	h2 {
		padding-left: 20px;
	}
}

@media only screen and (max-width: 515px){
	h1 {
		display: block;
		text-align: center;
	}

	nav a{
		display: block;
		text-align: left;
		padding: .2em;
		font-size: .8em;
		font-weight: 600;
	}

	#herotext {
		font-size: .8em;
	}
